<div class="container-fluid p-0">
  <div class="row no-gutters p-0">
    <div class="col-2" style="background: pink;">
      <div class="d-none d-md-block">
        <%= render 'shared/sidenav_fixed' %>
      </div>
    </div>
    <div class="col-10" style="background: yellow;">
      <div class="col-md-7 col-lg-9 col-xl-4 justify-content-center" style="padding-bottom: 50px; margin-left: 20px; margin-right: 20px;">
        <div class="row" style="z-index: 5; background: white; position: sticky; top: 0;">
          <div class="search bar" style="margin-bottom: 64px; margin-left: 30px; margin-right: 10px;">
            <%= form_tag items_path, method: :get, class: 'search-form' do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control px-5",
                placeholder: "Search for items or location"
              %>
              <%= submit_tag "Search", class: "btn px-5", id: 'search-form-button' %>
            <% end %>
          </div>
        </div>
        <div class="container-fluid mb-5 m-0">
          <div>
            <h2 class=" mb-3 pb-5" style="font-family: 'Permanent Marker', cursive; letter-spacing: 2px; text-align: left;">Messages Sent</h2>
            <table class="table table-hover">
              <tbody>
                <% @messages.each do |message| %>
                  <tr>
                    <th scope="row">
                      <%= link_to item_path(message.item) do %>
                        <%= cl_image_tag message.item.photo, width: 60, height: 60, crop: :fill%>
                      <% end %>
                    </th>
                    <td><h5><%= message.item.name %></h5></td>
                    <td><p><strong>To: </strong>
                      <%= User.find_by(id: message.item.user_id).first_name %></p></td>
                    <td><p>
                      <%= message.body %></p></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div>
            <h2 class=" mb-3 pb-5" style="font-family: 'Permanent Marker', cursive; letter-spacing: 2px; text-align: left;">Messages Received</h2>
            <table class="table table-hover">
              <tbody>
                <% @messagesReceived.each do |message| %>
                  <tr>
                    <th scope="row">
                      <%= link_to item_path(message.item) do %>
                        <%= cl_image_tag message.item.photo, width: 60, height: 60, crop: :fill%>
                      <% end %>
                    </th>
                    <td><h5><%= message.item.name %></h5></td>
                    <td><p><strong>From: </strong>
                      <%= User.find_by(id: message.item.user_id).first_name %></p></td>
                    <td>
                      <%= link_to message_path(message) do %>
                      <p><%= message.body %></p>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-6" style="position: sticky; top: 200px; margin-right: -50px; height: 80vh;">
        <div class="row" style="z-index: 5; background: white; position: absolute; top: -125px; right: 30px;">
          <h1 class="neighboroo">Neighboroo</h1>
        </div>
      </div>
    </div>
  </div>
</div>
