<nav class="navbar navbar-expand-sm bg-transparent py-4 navbar-home">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
      <%= image_tag "roo.png", class:"logo align-center logo-home" %>
    </a>

    <div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", height: 40, width:40, crop: :scale, class: "avatar dropdown-toggle pointer align-top", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Add An Item", new_item_path(@item), class: "dropdown-item" %>
                <%= link_to "Your Bookings", bookings_path(@booking), class: "dropdown-item" %>
                <%= link_to "Settings", edit_user_registration_path(@user), class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <!--%= render 'shared/login_form' %-->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!--%= link_to "Login", new_user_session_path, class: "nav-link"#, data: {toggle: "modal", target: ".bd-example-modal-lg"} %-->
