<div class="container-fluid p-0">
  <div class="row no-gutters p-0">
    <div class="col-sm-0 col-md-3 col-xl-2">
      <div class="d-none d-md-block">
        <%= render 'shared/sidenav_fixed' %>
      </div>
    </div>
    <div class="col">
      <div class="container-fluid p-0">
        <div class="row no-gutters p-0">
          <div class="col-lg-8 col-xl-6 justify-content-center" style="padding: 0 20px 50px 20px;">
            <div class="row no-gutters p-0" style="z-index: 5; height: 20vh; background: white; position: sticky; top: 0;">
              <div class="search bar" style="margin-bottom: 64px; margin-left: 30px; margin-right: 10px;">
                <%= form_tag items_path, method: :get, class: 'search-form' do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control px-5",
                    placeholder: "Search for items or location"
                  %>
                  <%= submit_tag "Search", class: "btn px-5", id: 'search-form-button' %>
                <% end %>
              </div>
            </div>
            <div class="row no-gutters mb-5 p-0">
              <div class="col-12">
                <% @items.each do |item| %>
                  <% if item.user.id == current_user.id %>
                    <div style="border-bottom: 1px solid lightgrey;">
                      <div class="item-card my-3">
                        <div class="item-edit">
                          <div class="row justify-content-center pb-3">
                            <% if policy(item).edit? %>
                              <%= link_to edit_item_path(item) do %>
                                <i class="fas fa-pencil-alt"></i>
                              <% end %>
                            <% end %>
                            <% if policy(item).destroy? %>
                              <%= link_to item_path(item), method: :delete, data: { confirm: 'Are you sure?' } do %>
                                <i class="fas fa-trash-alt ml-3"></i>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <%= cl_image_tag item.photo, class:"item-card-photo" %>
                        <%= link_to item_path(item), class:'item-card-infos-link' do %>
                          <div class="item-card-infos">
                            <h2><%= item.name %></h2>
                            <p><%= item.description %></p>
                        <% end %>
                            <% if user_signed_in? %>
                              <% if current_user.id != item.user_id %>
                                <%= link_to item_path(item), class:'index-link' do %>
                                  ➻ borrow it
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col justify-content-center" style="position: sticky; top: 0; height: 100vh;">
            <div class="container-fluid p-0">
              <div class="row no-gutters p-0" style="z-index: 5; background: white; height: 20vh;">
                <div style="margin: auto; width: 100%;">
                  <h1 class="neighboroo" style="float: right; padding-right: 20px;">Neighboroo</h1>
                </div>
              </div>
              <div class="row no-gutters p-0">
                <div class="col-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
